# macOS
.DS_Store

# Environment
.env

# Node
node_modules/

# Build output
dist/

# Android
android/app/build/
android/build/
android/.idea/
*.apk
*.aab

# iOS
ios/App/build/
ios/DerivedData/
*.ipa
ios/App/App/GoogleService-Info.plist

# iOS
ios/App/App/GoogleService-Info.plist
ios/App/App.xcworkspace/
ios/App/Podfile.lock

# Git
FETCH_HEAD
